<!-- app/views/games/new.html.erb -->
<h1>新しいゲームを作成する</h1>

<%= form_with(model: @game, url: games_path, local: true) do |form| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :number_of_players %>
    <%= form.number_field :number_of_players, class: "form-control", required: true, min: 5 %>
  </div>

  <div class="form-group">
    <%= form.submit "作成する", class: "btn btn-primary" %>
  </div>
<% end %>
